# Warding Tied to Objectives 
Repear previous exercise but add status of towers at time of ward.
Code here is incorporated into a class to make things smoother

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import matplotlib.patches as patches
import os

In [2]:
data_path = os.path.join('data_obj', 'data_April_09_to_May_01.json')
df = pd.read_json(data_path)
df.head()

,match_id,start_time,objectives,num_sen_placed,num_obs_placed,sen_log,obs_log,hero_id,account_id
0,5934887620,2021-04-09 00:45:24,"[{'time': 76, 'type': 'CHAT_MESSAGE_COURIER_LO...",24,13,"[{'time': 118, 'type': 'sen_log', 'key': '[104...","[{'time': 219, 'type': 'obs_log', 'key': '[110...",121,173328149
1,5934887620,2021-04-09 00:45:24,"[{'time': 76, 'type': 'CHAT_MESSAGE_COURIER_LO...",14,9,"[{'time': 406, 'type': 'sen_log', 'key': '[168...","[{'time': 231, 'type': 'obs_log', 'key': '[134...",58,97366926
2,5934887620,2021-04-09 00:45:24,"[{'time': 76, 'type': 'CHAT_MESSAGE_COURIER_LO...",12,7,"[{'time': 54, 'type': 'sen_log', 'key': '[96, ...","[{'time': 256, 'type': 'obs_log', 'key': '[94,...",100,184131721
3,5934890878,2021-04-09 00:52:54,"[{'time': -25, 'type': 'CHAT_MESSAGE_FIRSTBLOO...",24,12,"[{'time': 566, 'type': 'sen_log', 'key': '[124...","[{'time': 50, 'type': 'obs_log', 'key': '[88, ...",110,118394602
4,5934890878,2021-04-09 00:52:54,"[{'time': -25, 'type': 'CHAT_MESSAGE_FIRSTBLOO...",20,11,"[{'time': 30, 'type': 'sen_log', 'key': '[156,...","[{'time': 314, 'type': 'obs_log', 'key': '[154...",3,369991961

In [24]:
os.listdir('data_obj')

['data_May_01_to_June_01.json',
 'data_April_09_to_May_01.json',
 'data_August_01_to_August_17.json',
 'data_July_01_to_August_01.json',
 'data_June_01_to_July_01.json']

In [3]:
df.shape

(4357, 9)

In [4]:
df['match_id'].nunique()

1050

#### We have more entries that number of unique match IDs. We can reduce work and avoid redundancy by parsing through unique match IDs to extract objectives

In [5]:
df['match_id'][52]

5935335732

In [6]:
#look inside a obs log column
df['objectives'][52]

[{'time': 11,
  'type': 'CHAT_MESSAGE_FIRSTBLOOD',
  'slot': 6,
  'key': 0,
  'player_slot': 129},
 {'time': 290, 'type': 'CHAT_MESSAGE_COURIER_LOST', 'team': 6},
 {'time': 715,
  'type': 'building_kill',
  'unit': 'npc_dota_hero_razor',
  'key': 'npc_dota_goodguys_tower1_bot',
  'slot': 6,
  'player_slot': 129},
 {'time': 1069,
  'type': 'building_kill',
  'unit': 'npc_dota_hero_phantom_assassin',
  'key': 'npc_dota_badguys_tower1_top',
  'slot': 4,
  'player_slot': 4},
 {'time': 1189,
  'type': 'building_kill',
  'unit': 'npc_dota_hero_templar_assassin',
  'key': 'npc_dota_goodguys_tower1_mid',
  'slot': 7,
  'player_slot': 130},
 {'time': 1268, 'type': 'CHAT_MESSAGE_ROSHAN_KILL', 'team': 2},
 {'time': 1268, 'type': 'CHAT_MESSAGE_AEGIS', 'slot': 4, 'player_slot': 4},
 {'time': 1382,
  'type': 'building_kill',
  'unit': 'npc_dota_hero_enigma',
  'key': 'npc_dota_goodguys_tower2_bot',
  'slot': 9,
  'player_slot': 132},
 {'time': 1483,
  'type': 'building_kill',
  'unit': 'npc_dota_hero_razor',
  'key': 'npc_dota_goodguys_tower2_mid',
  'slot': 6,
  'player_slot': 129},
 {'time': 1564,
  'type': 'building_kill',
  'unit': 'npc_dota_hero_templar_assassin',
  'key': 'npc_dota_goodguys_tower1_top',
  'slot': 7,
  'player_slot': 130},
 {'time': 1637,
  'type': 'building_kill',
  'unit': 'npc_dota_hero_razor',
  'key': 'npc_dota_goodguys_tower2_top',
  'slot': 6,
  'player_slot': 129},
 {'time': 1748,
  'type': 'building_kill',
  'unit': 'npc_dota_hero_templar_assassin',
  'key': 'npc_dota_goodguys_tower3_mid',
  'slot': 7,
  'player_slot': 130},
 {'time': 1754,
  'type': 'building_kill',
  'unit': 'npc_dota_hero_razor',
  'key': 'npc_dota_goodguys_melee_rax_mid',
  'slot': 6,
  'player_slot': 129},
 {'time': 1759,
  'type': 'building_kill',
  'unit': 'npc_dota_hero_enigma',
  'key': 'npc_dota_goodguys_range_rax_mid',
  'slot': 9,
  'player_slot': 132},
 {'time': 1952,
  'type': 'building_kill',
  'unit': 'npc_dota_creep_goodguys_melee',
  'key': 'npc_dota_badguys_tower1_mid'},
 {'time': 1961, 'type': 'CHAT_MESSAGE_COURIER_LOST', 'team': 6},
 {'time': 1962,
  'type': 'building_kill',
  'unit': 'npc_dota_creep_goodguys_ranged',
  'key': 'npc_dota_badguys_tower1_bot'},
 {'time': 2023, 'type': 'CHAT_MESSAGE_ROSHAN_KILL', 'team': 3},
 {'time': 2024, 'type': 'CHAT_MESSAGE_AEGIS', 'slot': 7, 'player_slot': 130},
 {'time': 2046,
  'type': 'building_kill',
  'unit': 'dota_unknown',
  'key': 'npc_dota_goodguys_fort'}]

In [7]:
for item in df['objectives'][52]:
    print(item['type'])

CHAT_MESSAGE_FIRSTBLOOD
CHAT_MESSAGE_COURIER_LOST
building_kill
building_kill
building_kill
CHAT_MESSAGE_ROSHAN_KILL
CHAT_MESSAGE_AEGIS
building_kill
building_kill
building_kill
building_kill
building_kill
building_kill
building_kill
building_kill
CHAT_MESSAGE_COURIER_LOST
building_kill
CHAT_MESSAGE_ROSHAN_KILL
CHAT_MESSAGE_AEGIS
building_kill

In [8]:
for item in df['objectives'][0]:
    if item['type']== 'building_kill':
        print(item['key'])

npc_dota_goodguys_tower1_bot
npc_dota_goodguys_tower1_top
npc_dota_badguys_tower1_top
npc_dota_goodguys_tower1_mid
npc_dota_badguys_tower1_bot
npc_dota_badguys_tower1_mid
npc_dota_badguys_tower2_bot
npc_dota_goodguys_tower2_top
npc_dota_badguys_tower3_bot
npc_dota_goodguys_tower2_bot
npc_dota_badguys_tower2_top
npc_dota_goodguys_tower3_bot
npc_dota_badguys_tower3_top
npc_dota_goodguys_melee_rax_bot
npc_dota_goodguys_range_rax_bot
npc_dota_goodguys_tower2_mid
npc_dota_goodguys_tower3_top
npc_dota_goodguys_tower4
npc_dota_goodguys_tower4
npc_dota_goodguys_fort

In [9]:
arr = [{'bot1': 999, 'bot2': 55}, {'bot2': 100, 'bot3': 300}]

In [10]:
pd.DataFrame(arr)

    bot1  bot2   bot3
0  999.0    55    NaN
1    NaN   100  300.0

In [11]:
def getObjectiveTimes(match_id, log):
    """
    Reads a log associated with a match and returns the
    """
    #empty dict
    d = {}
    
    #keep track of how many rosh kills
    i = 0
    
    #store the match id
    d['match_id'] = match_id
    
    #Extract buildings
    for item in log:
        #check if objective tied to buildings
        if item['type']== 'building_kill':
            d[item['key']] = item['time']
        #check for ROSHAN time killed
        elif item['type'] == 'CHAT_MESSAGE_ROSHAN_KILL':
            #has rosh been killed before?
            if 'ROSHAN_0' not in d:
                d['ROSHAN_0'] = item['time']
            else:
                i += 1
                name= 'ROSHAN_' + str(i)
                d[name] = item['time']
            
    return d

In [12]:
#test it out
getObjectiveTimes(123, #arbitrary match ID 
                 df['objectives'][52])

{'match_id': 123,
 'npc_dota_goodguys_tower1_bot': 715,
 'npc_dota_badguys_tower1_top': 1069,
 'npc_dota_goodguys_tower1_mid': 1189,
 'ROSHAN_0': 1268,
 'npc_dota_goodguys_tower2_bot': 1382,
 'npc_dota_goodguys_tower2_mid': 1483,
 'npc_dota_goodguys_tower1_top': 1564,
 'npc_dota_goodguys_tower2_top': 1637,
 'npc_dota_goodguys_tower3_mid': 1748,
 'npc_dota_goodguys_melee_rax_mid': 1754,
 'npc_dota_goodguys_range_rax_mid': 1759,
 'npc_dota_badguys_tower1_mid': 1952,
 'npc_dota_badguys_tower1_bot': 1962,
 'ROSHAN_1': 2023,
 'npc_dota_goodguys_fort': 2046}

In [13]:
def getObjectiveDataframe(df):
    #filter by keeping unique match ids
    df_match = df.drop_duplicates(subset='match_id', 
                                  keep='first')
    
    obj_arr = []
    for row in df_match.itertuples(index=False):
        d = getObjectiveTimes(row.match_id, 
                              row.objectives)
        obj_arr.append(d)
        
    return pd.DataFrame(obj_arr)

In [14]:
a = getObjectiveDataframe(df)
a.head()

,match_id,npc_dota_goodguys_tower1_bot,npc_dota_goodguys_tower1_top,npc_dota_badguys_tower1_top,npc_dota_goodguys_tower1_mid,npc_dota_badguys_tower1_bot,ROSHAN_0,npc_dota_badguys_tower1_mid,npc_dota_badguys_tower2_bot,npc_dota_goodguys_tower2_top,...,ROSHAN_2,npc_dota_badguys_melee_rax_mid,npc_dota_badguys_melee_rax_top,npc_dota_badguys_range_rax_top,npc_dota_badguys_range_rax_mid,npc_dota_badguys_tower4,ROSHAN_3,ROSHAN_4,ROSHAN_5,ROSHAN_6
0,5934887620,531.0,742.0,833.0,854.0,992.0,1165.0,1296.0,1485.0,1745.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5934890878,744.0,1461.0,741.0,717.0,NaN,1414.0,775.0,NaN,1486.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5935016094,779.0,NaN,879.0,1535.0,1218.0,1842.0,730.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5935056204,865.0,NaN,547.0,1460.0,1298.0,908.0,765.0,1709.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5935093903,978.0,1668.0,511.0,1905.0,695.0,1932.0,610.0,NaN,1971.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
a.shape

(1050, 42)